h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: center;
    margin: 50px;
    color: royalblue;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17pt;
    text-align: center;
}

div.border{
    border-top-style: solid;
    border-bottom-style: solid;
}

p{
    text-align: center;
}

div{
    text-align: center;
    padding: 5px;
}



button{
    text-align: center;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border: none;

}

button.loginU{
    background-color: lightblue;
}

button.signupU{
    background-color: lightgrey;
}

button.signup{
    background-color: lightgreen;
}

button.cancel{
    background-color: lightcoral;
}

button.login{
    background-color: lightblue;
}
